* {
    margin: 0;
}

main {
    width: 550px;
    height: 550px;
    color: #FFFDFE;
    background: #1F2937;
}

main, select, body {
    background: #1F2937;
    color: #FFFDFE;
    
}

#inputSection {
    display: flex;
    justify-content: space-between;
    height: 90px;
    padding: 20px 10px 0px 10px;
}

button, select {
    height: 42px;
}

input {
    width: 61px;
    height: 43px;
    border: 0.5px solid #E5E5E5;
;
}

select {
    width: 312px;
    padding: 9px 13px;
    border-radius: 6px;
    border: 1px solid #FFF;
}

button {
    background: #3D4B60;
    color: #FFFDFE;
    border: none;
    border-radius: 4px;
}

button:hover {
    cursor: pointer;
}

#colorSchemeSection {
    display: flex;
}

.colorItem {
    flex: 1;
}

.showColor {
    background-color: green;
    width: 110px;
    height: 400px;
}

p {
    height: 46px;
    text-align: center;
    font-family: "Inter", sans-serif;
    padding-top: 10px;
    font-weight: 500;
    font-size: 12px;
}